@page "/Contact"

<h3>ContactPage</h3>
<p>If you have any questions, feedback, or inquiries, please don't hesitate to reach out to us. We value your input and are here to assist you in any way we can. You can contact us through the following methods:</p>

@code {

}
