<div class="expertise-section py-4">
    <div class="container px-4" style="max-width: 1200px;">

        <h2 class="HIW-title mb-5 mt-3">Våra kompetensområden</h2>

        <div class="row g-4">
            <div class="col-md-4 d-flex">
                <div class="HIW-card d-flex flex-column px-2 h-100">
                    <h5>Molntjänster</h5>
                    <div class="description-text flex-grow-1">
                        <p>Vi optimerar era molnlösningar enligt branschstandarder och cybersäkerhetskrav – och bygger skräddarsydda molnapplikationer när standardlösningar inte räcker till.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="HIW-card d-flex flex-column px-2 h-100">
                    <h5>Integrationslösningar</h5>
                    <div class="description-text flex-grow-1">
                        <p>Vi skapar en cybersäker och effektiv integrationsstrategi med en sammanhållen informationsmodell. Maximera nyttan av er data.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="HIW-card d-flex flex-column px-2 h-100">
                    <h5>Systemutveckling</h5>
                    <div class="description-text flex-grow-1">
                        <p>Omegapoint utvecklar säkra och skalbara applikationer anpassade för verksamhetskritiska behov inom komplexa IT-miljöer. Genom att kombinera djup teknisk kompetens med modern arkitektur skapar vi lösningar som är hållbara, säkra och lätta att vidareutveckla.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="HIW-card d-flex flex-column px-2 h-100">
                    <h5>Rådgivning</h5>
                    <div class="description-text flex-grow-1">
                        <p>Genom ett systematiskt säkerhetsarbete hanterar vi operativa risker inom din verksamhet och hjälper med seniora experter. Vi stödjer enhetlig efterlevnad av gällande regleringar och lagkrav.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="HIW-card d-flex flex-column px-2 h-100">
                    <h5>Offensiv säkerhet</h5>
                    <div class="description-text flex-grow-1">
                        <p>Genom bland annat penetrationstester identifierar vi potentiella sårbarheter. Både it-system och medarbetare sätts på prov för att testa organisationens faktiskta motståndskraft.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="HIW-card d-flex flex-column px-2 h-100">
                    <h5>Cybersäker digitalisering</h5>
                    <div class="description-text flex-grow-1">
                        <p>Som er digitaliseringspartner inom cybersäkerhet hjälper vi er med att både skydda era befintliga system och att cybersäkra era nya.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-5"></div>
    </div>
</div>
