<footer class="bg-light text-dark py-4 mt-auto w-100">
    <div class="container px-4">

        <div class="d-flex flex-column align-items-start mb-3">
            <a class="navbar-brand mb-4" href="/">
                <img src="/navLogo.png" alt="Logo" class="img-fluid" style="height:40px; width:auto;">
            </a>

            <div class="d-flex gap-3">
                <a href="/teams">Våra Teams</a>
                <a href="/contact">Kontakta Oss</a>
            </div>
        </div>

        <div class="my-3">
            <div class="w-100" style="height: 1px; background-color: black;"></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
            <div class="d-flex gap-3">
                <a href="/policy">Policy</a>
                <a href="/terms">Terms of Use</a>
                <a href="/cookies">Cookie Settings</a>
            </div>
            <p class="mb-0 mt-3 mt-md-0">&copy; 2025 AB Omegapoint</p>
        </div>
    </div>
</footer>
