

<div class="HIW-section py-4">
    <div class="container px-4" style="max-width: 1200px;">

        <h2 class="HIW-title mb-5 mt-3">Hur fungerar det?</h2>

        <div class="row g-4">
            <div class="col-md-4 d-flex">
                <div class="HIW-card d-flex flex-column px-2 h-100 text-center">
                    <i class="bi bi-search display-3 text-dark my-3"></i>
                    <h5>Utforska vårt utbud</h5>
                    <div class="description-text flex-grow-1">
                        <p>Upptäck alla de teamlösningar som Omegapoint erbjuder.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="HIW-card d-flex flex-column px-2 h-100 text-center">
                    <i class="bi bi-check-circle display-3 text-dark my-3"></i>
                    <h5>Boka våra tjänster</h5>
                    <div class="description-text flex-grow-1">
                        <p>Få en skräddarsydd lösning som passar just era behov.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex">
                <div class="HIW-card d-flex flex-column px-2 h-100 text-center">
                    <i class="bi bi-chat-heart display-3 text-dark my-3"></i>
                    <h5>Support</h5>
                    <div class="description-text flex-grow-1">
                        <p>Våra experter finns här för att hjälpa dig med frågor och funderingar.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5"></div>
    </div>
</div>